body{
    margin: 0px;
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("fondo-de-libros.jpg");
    font-family: 'Raleway', sans-serif;
}

button{
    font-size: 16px;
    text-align: center;
    border-radius: 8px;
    padding: 10px 20px;
}

.button-contact{
    background-color: white;
    color: black;
    border: 2px solid black;
    transition-duration: 0.4s;
    position: absolute;
    right: 270px;
    bottom: 15px;
}

.button-contact:hover{
    background-color: black;
    color: white;
}

.button-order{
    background-color: white;
    color: black;
    border: 2px solid black;
    transition-duration: 0.4s;
    position: absolute;
    right: 170px;
    bottom: 15px;
}

.button-order:hover{
    background-color: black;
    color: white;
}

.button-checkout{
    background-color: white;
    color: black;
    border: 2px solid black;
    transition-duration: 0.4s;
    position: absolute;
    right: 15px;
    bottom: 15px;
}

.button-checkout:hover{
    background-color: black;
    color: white;
}

.button-add{
    background-color: white;
    color: black;
    border: 2px solid black;
    transition-duration: 0.4s;
    position: absolute;
    right: 15px;
    bottom: 10px;
}

.button-add:hover{
    background-color: black;
    color: white;
}

.page-nav{
    color: white;
    background-color: black;
    border: 1px solid black;
    position: relative;
}

.page-nav h1{
    margin: 20px;
}

.page-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.product-container{
    margin: 15px;
    padding: 2px 16px;
    position: relative;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    background-color: white;
}

.product-container:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.product-container img{
    width: 300px;
}

.product-container h1{
    margin-bottom: 10px;
    margin-left: 15px;
}

.search{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    background: white;
    padding: 10px 20px;
    height: 20px;
    border-radius: 8px;
}

.search-text{
    border: none;
    background: none;
    outline: none;
    color: black;
    font-size: 16px;
    float: left;
    line-height: 10px;
    transition: 0.3s;
}

.button-search{
    width: 40px;
    height: 40px;
    text-decoration: none;
    color: white;
    font-size: 30px;
}